@{ 
    Layout = "~/_Layout1.cshtml";
    Page.Title = "Welcome to My Scripture Journal";
}
<h2>Welcome to the My Scripture Jornal web app. Please click an option on the navigation plane to continue.</h2>
